<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
 <center>
 	<form method="POST" action="/jugar">
 		<h1>Ingrese letra: </h1>
		<input type="text" name="ValorAProbar">
		<input type="submit" value="Validar">
  		<h1>_ _ _ _ _</h1>
 	</form>
 </center>
	
</body>
</html>